<!-- <div style="margin-bottom:8px; display:flex; align-items:center; gap:8px;">
    <label>
        <input type="checkbox"
               [checked]="privateMode()"
               (change)="onTogglePrivate($any($event.target).checked)">
        Private (my groups)
    </label>
</div> -->

<ez-table [items]="(exposureGroups$ | async) ?? []"
          [summaryColumns]="[
		{ Name: 'ExposureGroup', DisplayName: 'Exposure Group' },
        { Name: 'ResultsTotalCount', DisplayName: 'Samples' }
	]"
          [detailColumns]="['SampleDate','ExposureGroup','TWA','Notes','SampleNumber']"
          [detailFor]="detailForFn"></ez-table>