<!-- If items or exposure group data provided, show expandable rows mode -->
@if (items().length > 0 || data().length > 0) {
<table mat-table
    matSort
       [dataSource]="groupTableSource()"
       class="mat-elevation-z8"
       multiTemplateDataRows>
    <!-- Expand toggle column -->
    <ng-container matColumnDef="expand">
        <th mat-header-cell
            *matHeaderCellDef
            aria-label="row actions">&nbsp;</th>
        <td mat-cell
            *matCellDef="let group">
            <button mat-icon-button
                    aria-label="expand row"
                    (click)="toggle(group); $event.stopPropagation()"
                    [class.expanded]="isExpanded(group)">
                <mat-icon>{{ isExpanded(group) ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
            </button>
        </td>
    </ng-container>

    <!-- Summary columns (dynamic) -->
    @for (column of (summaryColumns().length ? summaryColumns() : defaultSummaryColumns()); track column) {
    <ng-container [matColumnDef]="columnId(column)">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>{{ columnHeader(column) }}</th>
        <td mat-cell
            *matCellDef="let item">{{ valueFor(item, column, 'summary') | ezFormat: column }}</td>
    </ng-container>
    }

    <!-- Expanded detail -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell
            *matCellDef="let group"
            [attr.colspan]="groupColumns.length">
            <div class="detail-wrapper"
                 [class.detail-expanded]="isExpanded(group)">
                @if (isExpanded(group)) {
                <table mat-table
                       [dataSource]="detailsForItem(group)"
                       class="nested-table">
                    @for (column of (detailColumns().length ? detailColumns() : displayedColumns()); track column) {
                    <ng-container [matColumnDef]="columnId(column)">
                        <th mat-header-cell
                            *matHeaderCellDef>{{ columnHeader(column) }}</th>
                        <td mat-cell
                            *matCellDef="let item">{{ valueFor(item, column, 'detail') | ezFormat: column }}</td>
                    </ng-container>
                    }
                    <tr mat-header-row
                        *matHeaderRowDef="detailColumnIds()"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: detailColumnIds();"></tr>
                </table>
                }
            </div>
        </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="groupColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: groupColumns"
        (click)="toggle(row)"
        class="group-row"></tr>
    <tr mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="detail-row"></tr>
</table>
} @else {
<!-- Flat results mode -->
<table mat-table
       [dataSource]="dataTableSource()"
       class="mat-elevation-z8"
       multiTemplateDataRows>
    @for (column of displayedColumns(); track column) {
    <ng-container [matColumnDef]="columnId(column)">
        <th mat-header-cell
            *matHeaderCellDef>{{ columnHeader(column) }}</th>
        <td mat-cell
            *matCellDef="let element">{{ element[columnId(column)] }}</td>
    </ng-container>
    }

    <tr mat-header-row
        *matHeaderRowDef="columnIds()"></tr>
    <tr mat-row
        *matRowDef="let row; columns: columnIds();"></tr>
</table>
}

<mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"
               showFirstLastButtons></mat-paginator>