<input type="file"
       class="file-input"
       (change)="onFileChange($event)"
       #fileUpload>

<div class="toolbar">
    <div class="actions">
        <button mat-stroked-button
                color="primary"
                (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
            <span>Upload</span>
        </button>
        <button mat-stroked-button
                (click)="calculateExceedanceFraction()"
                [disabled]="totalCount() === 0">
            <mat-icon>assessment</mat-icon>
            <span>Recalculate</span>
        </button>
        <button mat-raised-button
                color="primary"
                (click)="saveSampleInfo()"
                [disabled]="validCount() === 0">
            <mat-icon>save</mat-icon>
            <span>Save</span>
        </button>
    </div>
    <div class="status"
         *ngIf="totalCount() > 0">
        <mat-chip-set>
            <mat-chip [disabled]="true"
                      matTooltip="Selected file name">{{ fileName() || 'File' }}</mat-chip>
            <mat-chip [disabled]="true"
                      matTooltip="Valid / Total rows">{{ validCount() }}/{{ totalCount() }} rows</mat-chip>
            <mat-chip [disabled]="true"
                      *ngIf="hasInvalidRows()"
                      color="warn"
                      [matTooltip]="errorTooltip()">{{ invalidCount() }} rows invalid</mat-chip>
        </mat-chip-set>
    </div>
    <div class="ef"
         *ngIf="exceedanceFraction as ef">
        <span class="ef-label">Overall EF:</span>
        <span class="ef-value">{{ ef | number:'1.2-4' }}</span>
    </div>

</div>


<table mat-table
       [dataSource]="excelData()"
       multiTemplateDataRows
       class="mat-elevation-z8">
    @for (column of columnsToDisplay; track column) {
    <ng-container [matColumnDef]="column">
        <th mat-header-cell
            *matHeaderCellDef>{{ headerLabels[column] || column }}</th>
        <td mat-cell
            *matCellDef="let element">
            {{ column === 'SampleDate' ? (element[column] | date:'dd-MMM-yyyy') : element[column] }}
        </td>
    </ng-container>
    }
    <!-- Errors column -->
    <ng-container matColumnDef="Errors">
        <th mat-header-cell
            *matHeaderCellDef>Errors</th>
        <td mat-cell
            *matCellDef="let element">
            <span *ngIf="element.__invalid"
                  style="color:#c00;">
                {{ (element.__errors || []).join('; ') }}
            </span>
        </td>
    </ng-container>
    <tr mat-header-row
        *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row
        *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        class="example-element-row"
        [style.background]="element.__invalid ? '#ffecec' : null">
    </tr>
</table>