<input type="file"
       class="file-input"
       (change)="onFileChange($event)"
       #fileUpload>

<div class="file-upload">

    <button mat-mini-fab
            color="primary"
            class="upload-btn"
            (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
    @if(excelData){
        <p>Uploaded!</p>
    }
    @else {
        <p>Click the button to upload data</p>
    }
    <button mat-mini-fab
            color="primary"
            class="upload-btn"
            (click)="calculateExceedanceFraction()">
        <mat-icon>assessment</mat-icon>
    </button>
    {{exceedanceFraction}}
    <button mat-mini-fab
            color="primary"
            class="upload-btn"
            (click)="saveSampleInfo()">
        <mat-icon>save</mat-icon>
    </button>
</div>

<ez-table [data]="excelData"
          [columns]="columnsToDisplay"
          [expandable]="false"></ez-table>