<ng-container *ngIf="user$ | async as u; else loginScreen">
   <mat-toolbar color="primary"
                class="app-toolbar">
      <button mat-icon-button
              aria-label="Toggle navigation"
              (click)="leftNav?.toggle()">
         <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">EZ Analyze</span>
      <span class="spacer"></span>
      <organization-circle [org]="organizationService.currentOrg"
                           (orgClicked)="goToOrg()"></organization-circle>
      <button mat-button
              (click)="logout()">Logout</button>
   </mat-toolbar>

   <app-left-navigation #leftNav />
</ng-container>

<ng-template #loginScreen>
   <div class="login-screen">
      <button mat-flat-button
              color="primary"
              (click)="login()">Login</button>
   </div>

</ng-template>