<p>Select Your Organization</p>
@for (org of organizationList(); track org.Name) {
<button mat-flat-button
        (click)="setOrganization(org)"
        class="orgButton">{{org.Name}}</button>
}

<form class="Add new org">
    <p>My organization isn't listed</p>
    <mat-form-field class="example-full-width">
        <mat-label>Enter Org</mat-label>
        <input matInput
               placeholder="Name"
               [(ngModel)]="organizationName"
               name="newOrg">
    </mat-form-field>
    <button mat-flat-button
            (click)="saveOrganization()"
            class="orgButton">SAVE</button>
</form>